.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.product-detal--card {
    margin-bottom: 50px;
}

.planes-card--slider{
    justify-content: center;
    height: 450px;
    
}
.recomendado {
    left: calc(80% - 150px);
}